.App {
  text-align: center;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1024px;
  overflow-x: auto;
  margin: auto;
  background: rgba(68,67,73,.9);
  box-shadow: 0 0 4px #212123;
  min-height: 100vh;
  padding: 20px;
  color: #fafafa;
}

.bgImg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
